{% extends 'base.html' %}

{% block title %}Projet de Groupe{% endblock %}

{% block content %}
<body>  
    <main>
        <div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Model1</th>
                        <th scope="col">Model2</th>
                        <th scope="col">Model3</th>
                      </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Measure1</th>
                        <td>0</td>
                        <td>0</td>
                        <td>@0</td>
                      </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col">Average</th>
                        <th scope="col">0</th>
                        <th scope="col">0</th>
                        <th scope="col">0</th>
                      </tr>
                </tfoot>
          </table>
        </div>
    </main>
</body>
{% endblock %}
        
{% block script %}
<script>
    let selected = []

    window.onload = (event) => {
        if("{{alert}}" != ""){
            alert("{{alert}}");
            };
        }
        
    function select() {
        if(selected.length == 1){
        document.getElementById(selected[0]).style.border = "3px solid Aqua";
        }
        if(selected.length == 2){
            document.getElementById(selected.shift()).style.border = "3px solid Black";
            document.getElementById(selected[0]).style.border = "3px solid Aqua";
        }
        selected.push(event.target.id)
        document.getElementById(event.target.id).style.border = "3px solid Magenta";
    }

    function submit() {
        if(selected.length == 2){
            document.getElementById("selected_hidden").value = selected[0]+selected[1];
            document.getElementById("board").submit();
        }
        else{
            alert("You need to select two spaces to swap")
        }
    }

    function submit_AI() {
        document.getElementById("selected_hidden").value = ['0000'];
        document.getElementById("board").submit();
    }
</script> 
{% endblock %}
